<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>/usr/lib/sandbox.plist</string>
	<string>/usr/lib/systemhook.dylib</string>
	<string>/var/jb/basebin/.fakelib/sandbox.plist</string>
	<string>/var/jb/basebin/.fakelib/systemhook.dylib</string>
	<string>/var/jb/basebin/.fakelib</string>
	<string>/var/jb/basebin</string>
	<string>/var/jb/bin/bash</string>
	<string>/var/jb/bin</string>
	<string>/var/jb</string>
	<string>/var/lib/filza/sconf.plist</string>
	<string>/var/lib/filza</string>
	<string>/var/lib</string>
	<string>/var/mobile/Library/Caches/org.coolstar.SileoStore</string>
	<string>/var/mobile/Library/Caches/ws.hbang.Terminal</string>
	<string>/var/mobile/Library/Caches/xyz.willy.Zebra</string>
	<string>/var/mobile/Library/Filza</string>
	<string>/var/mobile/Library/Sileo/sileo.sqlite3</string>
	<string>/var/mobile/Library/Sileo</string>
	<string>/var/mobile/Library/WebKit/org.coolstar.SileoStore</string>
	<string>/var/mobile/Library/WebKit/xyz.willy.Zebra</string>
	<!-- Not really exist, but added anyway. My JB History has been started a long long ago... since 2011 -->
	<string>/var/mobile/Library/Fonts/AddedFontCache.plist</string>
	<string>/var/dropbear</string>
	<string>/var/cache/apt</string>
	<string>/var/cache/clutch_cracked.plist</string>
	<string>/var/cache/clutch.plist</string>
	<string>/var/checkra1n.dmg</string>
	<string>/var/containers/Bundle/.installed_rootlessJB3</string>
	<string>/var/containers/Bundle/tweaksupport</string>
	<string>/var/db/stash/_.wOruIO/include/substrate.h</string>
	<string>/var/db/stash/_.wOruIO/include</string>
	<string>/var/db/stash/_.wOruIO</string>
	<string>/var/db/stash</string>
	<string>/var/lib/apt/sileolists</string>
	<string>/var/lib/apt</string>
	<string>/var/lib/clutch/overdrive.dylib</string>
	<string>/var/lib/clutch</string>
	<string>/var/lib/cydia</string>
	<string>/var/lib/dpkg/info/com.hackyouriphone.flex.list</string>
	<string>/var/lib/dpkg/info/com.hackyouriphone.flex3beta.list</string>
	<string>/var/lib/dpkg/info/com.hackyouriphone.flyjb.list</string>
	<string>/var/lib/dpkg/info/com.hackyouriphone.flyjb.md5sums</string>
	<string>/var/lib/dpkg/info/com.hackyouriphone.flyjb.postinst</string>
	<string>/var/lib/dpkg/info/com.hackyouriphone.liberty.list</string>
	<string>/var/lib/dpkg/info/com.hackyouriphone.liberty.md5sums</string>
	<string>/var/lib/dpkg/info/com.johncoates.flex.list</string>
	<string>/var/lib/dpkg/info/com.johncoates.flex3.list</string>
	<string>/var/lib/dpkg/info/com.n00neimp0rtant.xcon.list</string>
	<string>/var/lib/dpkg/info/com.rpgfarm.a-bypass.list</string>
	<string>/var/lib/dpkg/info/com.rpgfarm.a-bypass.md5sums</string>
	<string>/var/lib/dpkg/info/com.rpgfarm.a-bypass.postinst</string>
	<string>/var/lib/dpkg/info/com.rpgfarm.libaptoast.list</string>
	<string>/var/lib/dpkg/info/com.rpgfarm.libaptoast.md5sums</string>
	<string>/var/lib/dpkg/info/com.saurik.substrate.safemode.list</string>
	<string>/var/lib/dpkg/info/com.xsellize.tsprotectorp.list</string>
	<string>/var/lib/dpkg/info/cydia-sources.list</string>
	<string>/var/lib/dpkg/info/cydia.list</string>
	<string>/var/lib/dpkg/info/de.nesolabs.snoopit.list</string>
	<string>/var/lib/dpkg/info/de.nesolabs.snoopit.postinst</string>
	<string>/var/lib/dpkg/info/de.nesolabs.snoopit.postrm</string>
	<string>/var/lib/dpkg/info/de.nesolabs.snoopit.preinst"</string>
	<string>/var/lib/dpkg/info/kr.typostudio.tsprotector8.list</string>
	<string>/var/lib/dpkg/info/kr.typostudio.tsprotector8.postinst</string>
	<string>/var/lib/dpkg/info/kr.typostudio.tsprotector8.preinst</string>
	<string>/var/lib/dpkg/info/kr.xsf1re.flyjbx.list</string>
	<string>/var/lib/dpkg/info/kr.xsf1re.flyjbx.md5sums</string>
	<string>/var/lib/dpkg/info/kr.xsf1re.flyjbx.postinst</string>
	<string>/var/lib/dpkg/info/kr.xsf1re.flyjbx.prerm</string>
	<string>/var/lib/dpkg/info/kr.xsflre.flyjb.list</string>
	<string>/var/lib/dpkg/info/kr.xsflre.flyjb.md5sums</string>
	<string>/var/lib/dpkg/info/kr.xsflre.flyjb.postinst</string>
	<string>/var/lib/dpkg/info/kr.xsflre.flyjb.prerm</string>
	<string>/var/lib/dpkg/info/me.nepeta.unsub.list</string>
	<string>/var/lib/dpkg/info/mobilesubstrate.extrainst_</string>
	<string>/var/lib/dpkg/info/mobilesubstrate.list</string>
	<string>/var/lib/dpkg/info/mobilesubstrate.md5sums</string>
	<string>/var/lib/dpkg/info/mobilesubstrate.postrm</string>
	<string>/var/lib/dpkg/info/org.coolstar.libhooker.list</string>
	<string>/var/lib/dpkg/info/org.coolstar.libhooker.md5sums</string>
	<string>/var/lib/dpkg/info/org.coolstar.libhooker.postinst</string>
	<string>/var/lib/dpkg/info/org.coolstar.libhooker.prerm</string>
	<string>/var/lib/dpkg/info/org.coolstar.libhooker.triggers</string>
	<string>/var/lib/dpkg/info/org.coolstar.safemode.list</string>
	<string>/var/lib/dpkg/info/org.coolstar.safemode.md5sums</string>
	<string>/var/lib/dpkg/info/org.coolstar.sileo.list</string>
	<string>/var/lib/dpkg/info/org.coolstar.sileo.md5sums</string>
	<string>/var/lib/dpkg/info/org.coolstar.sileo.postinst</string>
	<string>/var/lib/dpkg/info/org.coolstar.sileo.prerm</string>
	<string>/var/lib/dpkg/info/org.coolstar.sileo.triggers</string>
	<string>/var/lib/dpkg/info/repo.biteyourapple.net.officer.list</string>
	<string>/var/lib/dpkg/info</string>
	<string>/var/lib/dpkg</string>
	<string>/var/lib/undecimus/apt</string>
	<string>/var/lib/xcon</string>
	<string>/var/lib</string>
	<string>/var/libexec/filza/Filza</string>
	<string>/var/libexec/filza</string>
	<string>/var/libexec</string>
	<string>/var/log/apt/term.log</string>
	<string>/var/log/apt</string>
	<string>/var/log/jailbreakd-stderr.log</string>
	<string>/var/log/jailbreakd-stdout.log</string>
	<string>/var/log/pspawn_payload_xpcproxy.log</string>
	<string>/var/mobile/Documents/Flex</string>
	<string>/var/mobile/fakevar</string>
	<string>/var/mobile/Library/.sbinjectSafeMode</string>
	<string>/var/mobile/Library/Application Support/Flex3</string>
	<string>/var/mobile/Library/AutoTouch</string>
	<string>/var/mobile/Library/Caches/com.saurik.Cydia</string>
	<string>/var/mobile/Library/Caches/kjc.loader</string>
	<string>/var/mobile/Library/ConfigurationProfiles/PublicInfo/Flex3Patches.plist</string>
	<string>/var/mobile/Library/Cydia</string>
	<string>/var/mobile/Library/Flex3</string>
	<string>/var/mobile/Library/Logs/Cydia</string>
	<string>/var/mobile/Library/Pangu/package.plist</string>
	<string>/var/mobile/Library/Pangu</string>
	<string>/var/mobile/Library/Preferences/ABPattern</string>
	<string>/var/mobile/Library/Preferences/AutoAlerts</string>
	<string>/var/mobile/Library/Preferences/com.johncoates.Flex.plist</string>
	<string>/var/mobile/Library/Preferences/com.julioverne.jailprotect.plist</string>
	<string>/var/mobile/Library/Preferences/com.opa334.choicyprefs.plist</string>
	<string>/var/mobile/Library/Preferences/com.ryleyangus.liberty.plist</string>
	<string>/var/mobile/Library/Preferences/com.ryleyangus.libertylite.plist</string>
	<string>/var/mobile/Library/Preferences/com.saurik.Cydia.plist</string>
	<string>/var/mobile/Library/Preferences/com.skylerk99.nosub.plist</string>
	<string>/var/mobile/Library/Preferences/jp.akusio.kernbypass-unofficial.plist</string>
	<string>/var/mobile/Library/Preferences/jp.akusio.kernbypass.plist</string>
	<string>/var/mobile/Library/Preferences/jp.akusio.kernbypass2.plist</string>
	<string>/var/mobile/Library/Preferences/kr.typostudio.tsprotector.plist</string>
	<string>/var/mobile/Library/Preferences/kr.xsf1re.flyjb_disabler.plist</string>
	<string>/var/mobile/Library/Preferences/kr.xsf1re.flyjb_optimize.plist</string>
	<string>/var/mobile/Library/Preferences/kr.xsf1re.flyjb.plist</string>
	<string>/var/mobile/Library/Preferences/kr.xsflre.flyjb.plist</string>
	<string>/var/mobile/Library/Preferences/me.jjolano.alertdismiss.plist</string>
	<string>/var/mobile/Library/Preferences/me.nepeta.unsub.plist</string>
	<string>/var/mobile/Library/Preferences/Snoop-it</string>
	<string>/var/mobile/Library/SBSettings/Themes</string>
	<string>/var/mobile/Library/SBSettings</string>
	<string>/var/mobile/Library/UserConfigurationProfiles/PublicInfo/Flex3Patches.plist</string>
	<string>/var/mobile/Media/.evasi0n7_installed</string>
	<string>/var/MobileSoftwareUpdate/mnt1/fakevar</string>
	<string>/var/root/Documents/Cracked</string>
	<string>/var/root/Library/Caches/Clutch</string>
	<string>/var/root/media/cydia</string>
	<string>/var/stash/Applications/Cydia.app/Cydia</string>
	<string>/var/stash/Applications/Cydia.app</string>
	<string>/var/stash/Applications</string>
	<string>/var/stash/Library/Ringtones</string>
	<string>/var/stash/Library/Wallpaper</string>
	<string>/var/stash/Library</string>
	<string>/var/stash/usr/arm-apple-darwin9</string>
	<string>/var/stash/usr/include</string>
	<string>/var/stash/usr/libexec/cydia</string>
	<string>/var/stash/usr/libexec</string>
	<string>/var/stash/usr/share</string>
	<string>/var/stash/usr</string>
	<string>/var/stash</string>
	<string>/var/tmp/cydia.log</string>
	<string>/var/tmp/slide.txt</string>
	<string>/var/tmp/vnodeMem.txt</string>
</array>
</plist>
